# 1. Purane Blog URL ko Naye Clean URL par bhejna
Redirect 301 /2024/08/23/digital-marketing-freelancer-in-navi-mumbai/ https://www.gauravdeshmukh.co.in/digital-marketing-freelancer-in-navi-mumbai

# Rewrite Engine ek hi baar ON karna hota hai
RewriteEngine On

# 2. Trailing slash (/) automatically hatane ke liye
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/$ /$1 [L,R=301]

# 3. Bina .html dikhaye properly files ko load karne ke liye
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^\.]+)$ $1.html [NC,L]
